/* Base16 Ocean
Scheme: Chris Kempson (http://chriskempson.com) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #2b303b; color: #c0c5ce }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #343d46; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #2b303b; }
pre.sourceCode { background-color: #2b303b; line-height: 125% }
td.nums pre { background-color: #343d46; line-height: 125% }
code.sourceCode span.kw { color: #8fa1b3; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #b48ead} /* Keyword.Type */
code.sourceCode span.dv { color: #d08770 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #d08770 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #d08770 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #a3be8c} /* Literal.String.Char */
code.sourceCode span.st { color: #a3be8c } /* Literal.String */
code.sourceCode span.co { color: #65737e } /* Comment */
code.sourceCode span.ot { color: #ab7967 } /* Comment.Preproc */
code.sourceCode span.al { color: #b48ead } /* Generic.Error */
code.sourceCode span.fu { color: #ebcb8b } /* Name.Function */
code.sourceCode span.re { color: #96b5b4}
code.sourceCode span.er { color: #bf616a; border: 1px solid #b48ead } /* Error */
