/* Base16 Ashes
Scheme: Jannik Siebert (https://github.com/janniks) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #1C2023; color: #C7CCD1 }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #393F45; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #1C2023; }
pre.sourceCode { background-color: #1C2023; line-height: 125% }
td.nums pre { background-color: #393F45; line-height: 125% }
code.sourceCode span.kw { color: #AE95C7; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #C795AE} /* Keyword.Type */
code.sourceCode span.dv { color: #C7C795 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #C7C795 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #C7C795 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #95C7AE} /* Literal.String.Char */
code.sourceCode span.st { color: #95C7AE } /* Literal.String */
code.sourceCode span.co { color: #747C84 } /* Comment */
code.sourceCode span.ot { color: #C79595 } /* Comment.Preproc */
code.sourceCode span.al { color: #C795AE } /* Generic.Error */
code.sourceCode span.fu { color: #AEC795 } /* Name.Function */
code.sourceCode span.re { color: #95AEC7}
code.sourceCode span.er { color: #C7AE95; border: 1px solid #C795AE } /* Error */
