/**
 * Base16 Default Light
 *
 * @author Chris Kempson (http://chriskempson.com)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #f5f5f5;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #151515;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #b0b0b0;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #ac4142; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #d28445; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #f4bf75; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #90a959; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #6a9fb5; /* blue */
}

pre .keyword, pre .storage {
    color: #aa759f; /* purple */
}
