/**
 * Base16 Ashes Dark
 *
 * @author Jannik Siebert (https://github.com/janniks)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #1C2023;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #F3F4F5;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #747C84;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #C7AE95; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #C7C795; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #AEC795; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #95C7AE; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #AE95C7; /* blue */
}

pre .keyword, pre .storage {
    color: #C795AE; /* purple */
}
