/**
 * Base16 Railscasts Light
 *
 * @author Ryan Bates (http://railscasts.com)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #f9f7f3;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #2b2b2b;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #d4cfc9;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #da4939; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #cc7833; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #ffc66d; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #a5c261; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #6d9cbe; /* blue */
}

pre .keyword, pre .storage {
    color: #b6b3eb; /* purple */
}
