[global_config]
  title_transmit_bg_color = "#f2777a"
  title_inactive_bg_color = "#747369"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#2d2d2d:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#d3d0c8:#747369:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#f2f0ec"
    foreground_color = "#515151"
    background_color = "#f2f0ec"
    cursor_color = "#515151"

  [[Base16 Eighties Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#f2f0ec:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#d3d0c8:#747369:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#2d2d2d"
    foreground_color = "#515151"
    background_color = "#f2f0ec"
    cursor_color = "#515151"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Eighties Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
