[global_config]
  title_transmit_bg_color = "#C7AE95"
  title_inactive_bg_color = "#747C84"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#1C2023:#C7AE95:#95C7AE:#AEC795:#AE95C7:#C795AE:#95AEC7:#C7CCD1:#747C84:#C7AE95:#95C7AE:#AEC795:#AE95C7:#C795AE:#95AEC7:#F3F4F5"
    foreground_color = "#C7CCD1"
    background_color = "#1C2023"
    cursor_color = "#C7CCD1"

  [[Base16 Ashes Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#1C2023:#C7AE95:#95C7AE:#AEC795:#AE95C7:#C795AE:#95AEC7:#C7CCD1:#747C84:#C7AE95:#95C7AE:#AEC795:#AE95C7:#C795AE:#95AEC7:#F3F4F5"
    foreground_color = "#C7CCD1"
    background_color = "#1C2023"
    cursor_color = "#C7CCD1"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Ashes Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
