[global_config]
  title_transmit_bg_color = "#cb6077"
  title_inactive_bg_color = "#7e705a"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#3B3228:#cb6077:#beb55b:#f4bc87:#8ab3b5:#a89bb9:#7bbda4:#d0c8c6:#7e705a:#cb6077:#beb55b:#f4bc87:#8ab3b5:#a89bb9:#7bbda4:#f5eeeb"
    foreground_color = "#d0c8c6"
    background_color = "#3B3228"
    cursor_color = "#d0c8c6"

  [[Base16 Mocha Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#3B3228:#cb6077:#beb55b:#f4bc87:#8ab3b5:#a89bb9:#7bbda4:#d0c8c6:#7e705a:#cb6077:#beb55b:#f4bc87:#8ab3b5:#a89bb9:#7bbda4:#f5eeeb"
    foreground_color = "#d0c8c6"
    background_color = "#3B3228"
    cursor_color = "#d0c8c6"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Mocha Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
