[global_config]
  title_transmit_bg_color = "#da4939"
  title_inactive_bg_color = "#5a647e"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#2b2b2b:#da4939:#a5c261:#ffc66d:#6d9cbe:#b6b3eb:#519f50:#e6e1dc:#5a647e:#da4939:#a5c261:#ffc66d:#6d9cbe:#b6b3eb:#519f50:#f9f7f3"
    foreground_color = "#3a4055"
    background_color = "#f9f7f3"
    cursor_color = "#3a4055"

  [[Base16 Railscasts Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#f9f7f3:#da4939:#a5c261:#ffc66d:#6d9cbe:#b6b3eb:#519f50:#e6e1dc:#5a647e:#da4939:#a5c261:#ffc66d:#6d9cbe:#b6b3eb:#519f50:#2b2b2b"
    foreground_color = "#3a4055"
    background_color = "#f9f7f3"
    cursor_color = "#3a4055"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Railscasts Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
